alias eb="${EB}"

echo "EasyBuild build command is:"
alias | grep eb

echo "EasyBuild environment variables are set to:"
export | grep EASYBUILD
echo

# building stuff, the '--fetch' can be disabled if required
eb --fetch ${SW_LIST} 
eb ${SW_LIST} 

