# we need to remove the EASYBUILD_TMPDIR and EASYBUILD_BUILDPATH so they don't mess up other installations
    echo "Removing build and temp directories ${EASYBUILD_TMPDIR} ${EASYBUILD_BUILDPATH} and /dev/shm/${JOBID}-testing.log ."
    rm -rf ${EASYBUILD_TMPDIR} 
    rm -rf ${EASYBUILD_BUILDPATH}
    rm -f /dev/shm/${JOBID}-testing.log
fi

