# We check if we are running on a GPU node or not. If so, we set --cuda-compute-capabilities as defined in site-config
# This is now done as an environment variable
alias eb="${EB}"

# building stuff using EasyStack
eb --fetch --experimental --easystack ${SW_YAML} 
eb --experimental --easystack ${SW_YAML} 

